fastapi==0.108.0
uvicorn[standard]==0.25.0
bcrypt==4.1.2
httpx # for use TestClient from fastapi
pytest==8.0.0
python-multipart # This is because OAuth2 uses "form data" for sending the username and password.
python-jose[cryptography]
pymongo[srv]==4.6.1
